@model IEnumerable<Domain.Store>

@{
    ViewData["Title"] = "Locations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Location List</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            @if (!User.IsInRole("Store")) { 
                <th></th>
                }
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @if (!User.IsInRole("Store"))
            {
                <td>
                    @Html.ActionLink("Order", "New", "Order", new { id = item.Id })
                </td>
            }
            </tr>
}
    </tbody>
</table>
